<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927803279429-vdcvujt8qe7s1cva27dm0csuuv1lkd1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927803279429-vdcvujt8qe7s1cva27dm0csuuv1lkd1u</string>
	<key>API_KEY</key>
	<string>AIzaSyB5SynxjSF5GiQD2XIddX0JCMJbgznvOGM</string>
	<key>GCM_SENDER_ID</key>
	<string>927803279429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.VillageApp</string>
	<key>PROJECT_ID</key>
	<string>village-ce463</string>
	<key>STORAGE_BUCKET</key>
	<string>village-ce463.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927803279429:ios:b5803dbe0c43d03fb8bb2c</string>
</dict>
</plist>